@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700");
.App {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

.App-logo {
  animation: App-logo-spin infinite 9s linear;
  margin-top: 1vmax;
  height: 14vmin;
}

.welcome {
  font-size: 4vmin;
  font-weight: 700;
  color: white;
  margin-bottom: 5vmin;
}
.App-title {
  font-size: 3vmin;
  font-weight: 300;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  background-color: rgb(46, 46, 46);
  margin-bottom: 5vmin;
  box-shadow: 0 14px 25px rgba(35, 35, 35, 0.06);
}

.App-link {
  color: #61dafb;
}

.india {
  height: 90px;
}

.england {
  height: 90px;
}

.versus {
  font-weight: 700;
  margin-top: 40px;
}

.amount {
  font-weight: 700;
}

.form-control {
  font-weight: 600;
}

.input-group-addon {
  font-weight: 700;
}

.bet-button {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(35, 35, 35, 0.1);
  outline: none;
  cursor: pointer;
  transition: 0.35s ease-in-out;
  font-weight: 700;
}

.bet-button:hover {
  background-color: rgba(40, 180, 50, 1);
  color: white;
  box-shadow: 0px 7px 18px rgba(30, 130, 30, 0.3);
}

.win-button {
  cursor: pointer;
  border: 1px solid rgba(30, 30, 30, 0.24);
  max-width: 200px;
  padding: 10px 2px;
  margin: 0 auto;
  border-radius: 40px;
  font-weight: 400;
  transition: 0.35s ease-in-out;
}

.win-button:hover {
  color: white;
  background-color: rgba(60, 60, 60, 1);
  font-weight: 600;
}

.footer {
  font-weight: 200;
  font-size: 2.2vmin;
  margin-top: 7vmin;
}

.footer .address {
  font-weight: 500;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
